.home {
    text-align: center;
}

.title {
    font-size: 3rem;
    margin-bottom: 20px;
}

.logo {
    max-height: 250px;
    margin-bottom: 10px;
}

.content {
    font-size: 1.2rem;
    margin-bottom: 30px;
}
